<div class="container">

  <h1>New</h1>
  <p>
    La funcionalidad de esta vista será la de mostrar noticias de actualizaciones, soli¡ución de errors y nuevas mejoras
  desarrolladas por el departamento
  </p>
</div>
