<div class="container">
  <br><br>
  <h1 class="text-center">Error 404 Not Found</h1>
  <p class="text-center">The content you are looking for has not been found or does not exist ... contact the platform administrator if you wish.</p>
  <p class="text-center"><%= link_to 'Go to Index', root_path %></p> 
</div>
