// Place all the styles related to the Charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.digg_pagination {
    background: #f1f1f1;
    text-align: center;
    cursor: default;
}
.digg_pagination a {
    text-decoration: none;
    color: black;
}

span.next_page.disabled,span.previous_page.disabled{
    color: #a7a7a7;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
