// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.indexPost{
  float: left;
}

span.newPost {
    background: #51a8f5;
    color: white;
    border-radius: 1em;
    padding: 0.1em 0.5em;
}
